@media (min-width: 770px) {
  .container {
    width: 770px;
  }
}
@media (max-width: 970px) {
  .container {
    margin-left: 10% !important;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
