* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header{
	border-bottom: 1px solid black;

	.header-text {
		font-family: 'Times New Roman', Times, serif;
		font-size: 70px;
		text-align: center;
	}
}

.sample-text {
	color: red;
	text-align: center;
}